<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-background-dark tabs-color-positive">


  <!-- Dashboard Tab -->
  <ion-tab title="Contact" ui-sref="tab.contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab>


  <!-- Projects Tab -->
  <ion-tab title="Projects" ui-sref="tab.projects">
    <ion-nav-view name="tab-projects"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Resume" ui-sref="tab.resume">
    <ion-nav-view name="tab-resume"></ion-nav-view>
  </ion-tab>


</ion-tabs>
